.container {
  padding: 5vh 5vw;
}

.title {
  color: white;
  text-align: center;
  font-size: 3rem;
  margin: 20px 0 0;
  padding-bottom: 5vh;
  border-bottom: 3px solid #4d9999a2;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10vh 5vw;
  padding: 10vh 0;
}
