.container > a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 160px;
    height: 40px;
    background: #7BFECD;
    border-radius: 30px;
}

.outline > a {
    border: 1px solid #7BFECD;
    background: none;
}

.disabled > a {
    opacity: 0.5;
    cursor: not-allowed;
}