.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px 24px 0;
}

.container > h2 {
    margin: 24px;
}

.container > h2:first-child {
    margin-top: 0;
}