.container {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  background-color: #001818;
  padding: 50px 15vw;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: space-evenly;
  min-height: 50vh;
  color: white;
  text-shadow: 0 0 2px black;

  @media screen and (max-width: 1134px) {
    justify-content: center;
  }

  .image {
    position: relative;
    width: 20vw;
    min-width: 200px;
    height: 20vw;
    min-height: 200px;
    border-radius: 10px;
    border: 10px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 8px rgb(0, 0, 0, 0.2);

    img {
      border-radius: 5px;
    }
  }

  .content {
    width: 500px;
    h1 {
      text-align: center;
    }

    p {
      text-align: justify;
    }
  }
}
